<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <title>Josh Farrant</title>
    <meta name="description" content="The personal website of Josh Farrant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#292929">
    {{{favicons}}}
    <style>{{{css}}}</style>
    <script type="text/javascript">{{{JS.HEAD}}}</script>
  </head>
  <body>
    <div class="main-container">
      <nav>
        <div class="title">
          <a href="/" title="" class="logo">Josh Farrant</a>
        </div>
        <div class="links">
          <a href="/about" title="About">About</a>
          <a href="/blog" title="Blog">Blog</a>
          <a href="/pages" title="The Rest">The Rest</a>
        </div>
      </nav>
      <main>
        {{#if meta}}
          {{#if meta.title}}
            <h2>{{meta.title}}</h2>
          {{/if}}
          {{#if meta.author}}
            {{#if meta.date_published}}
              <p>{{meta.author}} | {{dateFormat meta.date_published "Do MMMM YYYY"}}</p>
            {{else}}
              <p>{{meta.author}}</p>
            {{/if}}
          {{else}}
            {{#if meta.date_published}}
              <p>{{dateFormat meta.date_published "Do MMMM YYYY"}}</p>
            {{/if}}
          {{/if}}
        {{/if}}
        {{{body}}}
      </main>
    </div>
    <div>
      <button
        id="dark-theme-toggle"
        class="theme-toggle button-reset"
        title="Enable dark mode"
      >
        🕶
      </button>
      <button
        id="light-theme-toggle"
        class="theme-toggle button-reset"
        title="Enable light mode"
      >
        💡
      </button>
    </div>
    <script type="text/javascript">{{{JS.MAIN}}}</script>
  </body>
</html>
